Pods/
build/
DerivedData/
.idea
xcuserdata/
.sentryclirc

# fastlane specific
**/fastlane/report.xml

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

# scan temporary files
**/fastlane/test_output

reports/
fl_output/
.bundle/
vendor/