<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88457335033-a88o3q4f0f7vcnbmottnc0pojfio3sqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88457335033-a88o3q4f0f7vcnbmottnc0pojfio3sqb</string>
	<key>API_KEY</key>
	<string>AIzaSyCHdKc86aiaR2wwm5crgxvz40iKUlDP3Ds</string>
	<key>GCM_SENDER_ID</key>
	<string>88457335033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cactus.StageCactus</string>
	<key>PROJECT_ID</key>
	<string>cactus-app-stage</string>
	<key>STORAGE_BUCKET</key>
	<string>cactus-app-stage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88457335033:ios:bd689134c1761d3f</string>
	<key>DATABASE_URL</key>
	<string>https://cactus-app-stage.firebaseio.com</string>
</dict>
</plist>